* {
  box-sizing: border-box;
}

::selection {
  background-color: #bab5a1;
}

html,
body{
  color: #454138;
  height: 100%;
  margin: 0;
  font-family: helvetica, sans-serif;
  background-color: #d1cdb7;
}

a, a:hover, a:active, a:visited {
  color: #454138;
  background-color: #d1cdb7;
  font-family: helvetica, sans-serif;
  text-decoration: none;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0 #bab5a1;
  text-align: center;
}

#centerHeading {
  text-align: center;
  padding-top: 2%;
}

#projectHeading {
  text-align: center;
  padding-top: 10px;
}

.title {
  padding-bottom: 1%;
}

/* CARDS */
.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
  padding-top: 1%;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.projectTile, .artTile
{
  width:350px;
  height:350px;
  margin:10px;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family: helvetica, sans-serif;
}

.projectTile img, .artTile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}

.projectTile .text, .artTile .text
{
  z-index:99; 
  font-family: helvetica, sans-serif;
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}

.projectTile h1, .artTile h1
{
  font-family: helvetica, sans-serif;
  font-weight: lighter;
  border: solid white;
  border-width: 0.1rem 0;
  padding: 0.1rem 1rem;
  margin:0;
  text-shadow: 6px 10px 10px rgba(0,0,0,0.3);
}

.projectTile h2, .artTile h2
{
  font-family: helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  font-size: 1.17em;
  margin:20px 0 0 0;
  font-style:italic;
  transform: translateX(200px);
}

.projectTile p, .artTile p
{
  font-family: helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  margin:20px 0 0 0;
  line-height: 25px;
  transform: translateX(-200px);
  transition-delay: 0.2s;
}

.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}

.projectTile:hover, .artTile:hover
{
 box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
 transform:scale(1.05);
}

.projectTile:hover img, .artTile:hover img
{
  opacity: 0.2;
}

.projectTile:hover .animate-text, .artTile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}

.projectTile:hover span, .artTile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

@media (max-width: 1000px) {
  .wrap {
    flex-direction: column;
    width:400px;
  }
}

.inactive {
  display: none !important;
}

#leftArrow {
  position: fixed;
  float: left;
  left: 5%;
  top: 50%;
  font-size: 300%;
  z-index: 99;
}

#rightArrow {
  position: fixed;
  float: right;
  right: 5%;
  top: 50%;
  font-size: 300%;
  z-index: 99;
}

/* ANIMATION DELAYS */
.projectTile:nth-child(1), .artTile:nth-child(1) {
  animation-delay: 0.1s;
}

.projectTile:nth-child(2), .artTile:nth-child(2) {
  animation-delay: 0.2s;
}

.projectTile:nth-child(3), .artTile:nth-child(3) {
  animation-delay: 0.3s;
}

.projectTile:nth-child(4), .artTile:nth-child(4) {
  animation-delay: 0.4s;
}

.projectTile:nth-child(5), .artTile:nth-child(5) {
  animation-delay: 0.5s;
}

.projectTile:nth-child(6), .artTile:nth-child(6) {
  animation-delay: 0.6s;
}

.projectTile:nth-child(7), .artTile:nth-child(7) {
  animation-delay: 0.7s;
}

.projectTile:nth-child(8), .artTile:nth-child(8) {
  animation-delay: 0.8s;
}

.projectTile:nth-child(9), .artTile:nth-child(9) {
  animation-delay: 0.9s;
}

#contacts .col .row {
  text-align: center;
  display: block;
  padding-top: 5%;
}

#contacts p {
  display: inline;
}

#contactInfo {
  color: #454138;
  font-family: helvetica, sans-serif;
}

#contactInfo span {
  padding-top: 0;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 0.05rem 0.05rem 0 #d1cdb7;
  text-align: center;
}

/* EXPANDED CONTENT */
.expanded-content {
  text-align: center;
}

.blank {
  margin-bottom: 2%;
}

.content {
  margin: 0 auto;
}

.carousel {
  margin: 0 auto;
}

.content h2 {
  font-family: helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0 #bab5a1;
  text-align: center;
}

.content h3 {
  font-family: helvetica, sans-serif;
  font-weight: lighter;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 0.1rem 0.1rem 0 #bab5a1;
  text-align: center;
}

.content span {
  font-family: helvetica, sans-serif;
  font-size: 1.17em;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  text-shadow: 0.1rem 0.1rem 0 #bab5a1;
  text-align: center;
}

#returnBtn {
  font-family: helvetica, sans-serif;
  padding: 0.5rem;
  font-size: 1.0em;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 0;
  background-color: #bab5a1;
  color: inherit;
  font-family: inherit;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-shadow: 0.1rem 0.1rem 0 #bab5a1;
  font-weight: normal;
  position: relative;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#returnBtn:hover {
  -webkit-box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1;
  box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1;
}

#returnBtn:before {
  content: '';
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#returnBtn:after {
  content: '';
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #454138;
  z-index: -1;
}

#returnBtn:hover {
  background-color: transparent;
  color: #dcd8c0;
}

#returnBtn:hover:before {
  top: -0.2rem;
  bottom: -0.2rem;
  border: solid #454138;
  border-width: 0.1rem 0;
}

#returnBtn:hover:after {
  width: 100%;
}

#returnBtn:active {
  color: #454138;
}

#returnBtn:active:after {
  background-color: #dcd8c0;
}

/* TILE CAROUSEL */
.carousel {
  width: 50%;
}

.carousel-cell {
  width: 66%;
  height: 400px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.audio {
  visibility: hidden;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 150px rgba(0,0,0,0.9) inset;
}